


  .App {
    min-height: 100vh;;
    display : flex;
    /* background-image : url("../images/background.jpg"); */
    background-size: cover;
    background-position: center;
    color:black;
    font-family: 'Poppins', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Roboto', sans-serif;

  }
